@{
    ViewBag.Title = "Home Page";
}

<p>NGAY SINH : 03/08/1999</p>
<p>DIA CHI : DREAMHOME PRESIDENT . QUAN GOVAP . TPHCM</p>
<p>SDT : 0393566612</p>
<p>EMAIL: DANNITRAN99@GMAIL.COM</p>
<h3><strong>           QUÁ TRÌNH HỌC VẤN</strong></h3>
<ul>
    <li>2003-2005 : Học mẫu giáo ở trường Mẫu giáo Tân Hà</li>
    <li>2005-2010: Học tiểu học ở trường tiểu học Tân Hà</li>
    <li>2010-2014: Học trung học tại trường THCS Tân Hà</li>
    <li>2014-2017: Học phổ thông ở trường THPT Lý Thường Kiệt</li>
    <li>2017-nay: Học tại trường Đại Học Văn Lang</li>
</ul>
<h3>            MỘT SỐ THÀNH TÍCH ĐẠT ĐƯỢC</h3>
<ul>
    <li>Giải nhì cuộc thi vở sạch chữ đẹp từ năm 2006-2010</li>
    <li>Giải 3 cuộc thi giải toán online &#8211; Violympic năm 2014</li>
    <li>Giải khuyến khích kỳ thi toán máy tính cầm tay 2013</li>
</ul>
<h3>              KỸ NĂNG</h3>
<ul>
    <li></li>
</ul>